{% extends 'layout.html' %} 

{% block title %} Home {% endblock %} 

{% block content %}
<div class="home-section">
  <h2>Good luck {{prenom}} !</h2>
  <p>You can consulte the code you have found in the treasure section</p>

  <h2>Enter the code you found through your treasure search </h2>

  <form action="{{ url_for('home') }}" method="post">
    <div class="form-section">
      <input
        type="text"
        name="code"
        placeholder="Code"
        id="code"
      />
    </div>
    
    <input type="submit" value="Search" />

    <div class="msg">{{ msg }}</div>
  </form>
</div>
{% endblock %}
