{% extends 'layout.html' %} 

{% block title %} Home {% endblock %}

{% block background %}{{ url_for('static', filename='resources/Plage-Fermé.png') }}{% endblock %}


{% block treasure_content %}
<div class="home-section">
  <h1 class="good-luck">Bonne chance <span class="nom">{{prenom}}</span> !</h1>
  <p class="description">Tu peux consulter les trésors que tu as trouvés sur la page "Found Treasure"</p>
</div>
<div class="search">
  <h2 class="description">Entre le code que tu as trouvé pendant ta recherche du trésor pour ouvrir le coffre !</h2>
  <form action="{{ url_for('home') }}" method="post">
    <div class="form-section">
      <input
        type="text"
        name="code"
        placeholder="Code"
        id="code"
      />
    </div>
    
    <input type="submit" value="Search" />

    <div class="msg">{{ msg }}</div>
  </form>
</div>
{% endblock %}