{% extends 'base.html' %}

{% block title %} Login {% endblock %} 

{% block content %}
<div>
  <h2 class="sub-title">A la recherche du tresor de</h2>
  <h1 class="main-title">Boris le <span class="rouge">Rouge</span></h1>
  <div>
    <p class="description">Est-tu prêt pirate ? Prêt à chercher le trésor qui t'ouvrira</p>
    <p class="description">les portes de la meilleure soirée de l'année ?</p>
  </div>
</div>

<div class="main-container">
  <div class="login">
    <div class="links">
      <a href="{{ url_for('login') }}" class="active">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form action="{{ url_for('login') }}" method="post">
      <div class="form-section">
        <label for="mail">
          <i class="fas fa-user" style="color: black;"></i>
        </label>
        <input
          type="text"
          name="mail"
          placeholder="Mail"
          id="mail"
          required
        />
      </div>
      <div class="form-section">
        <label for="password">
          <i class="fas fa-lock" style="color: black;"></i>
        </label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
        />
      </div>

      <input type="submit" value="Login" />

      <div class="msg">{{ msg }}</div>
    </form>
  </div>
</div>
{% endblock %}