{% extends 'base.html' %}

{% block title %} Mail verification{% endblock %}

{% block background %}{{ url_for('static', filename='resources/Plage.png') }}{% endblock %}

{% block content %}
<div class="verification">
  <div>
    <p class="description">
      Un code vous a été envoyé par mail. Veuillez entrez votre code
    </p>
    <form action="{{ url_for('verification') }}" method="post">

      <div class="form-section">
        <label for="code">
          <i class="fas fa-lock" style="color: black;"></i>
        </label>
        <input
          type="text"
          maxlength="{{ maxlength }}"
          name="code"
          placeholder="Received code"
          id="code"
        />
      </div>

      <input type="submit" name="button" value="Validate" />
      <input type="submit" name="button" value="Resent code" />

      <div class="msg">{{ msg }}</div>
    </form>
  </div>
</div>
{% endblock %}